*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #424874;
    text-align: center;
}
h1{
    color: white;
    font-size: 3rem;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #efecfc;
    color: black;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #CACFD6;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #CACFD6;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);;
}

#msg{
    color:#C6CAED ;
    font-size: 4rem;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

.hide2{
    display: none;
}
